@import "../../styles/mixin";
@import "../../styles/variables";

.section4 {
  @include sectionBackground("", white);

  &__content {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: $maxResValue) {
      flex-direction: column;
    }

    div {
      //   padding: 1em 5em;

      h1 {
        @include heading(1.5em);
        margin-bottom: 2em;
      }

      span {
        @include text;
      }
    }

    &__image {
      padding: 2em;
    }
  }
}
