@import "../../styles/mixin";
@import "../../styles/variables";

.section1 {
  @include sectionBackground("", white);

  &__content {
    position: absolute;
    width: 60%;
    top: 20%;
    left: 10%;
    &__text {
      margin: 0 2em 1em 4em;
      &__heading {
        margin-bottom: 20px;
        @include heading(2em);
      }

      &__description {
        @include text();
      }

      &__buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 0.5em;
        margin: 2em 0;

        @media screen and (max-width: $minResValue) {
          flex-direction: column;
          margin: 2em 0;
        }

        &__buttonLeft {
          @include button($primary-color, white, $primary: false);
        }
        &__buttonRight {
          @include button($primary-color, white, $primary: true);
        }
      }
    }
  }

  &__background {
    width: 100%;
    height: inherit;
  }
}
