@import "../../styles/mixin";
@import "../../styles/variables";

.pricing {
  @include sectionBackground("", white);

  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    top: 20%;
    left: 30%;
    right: 30%;

    &__heading {
      @include heading(2em);
    }

    &__description {
      text-align: center;
      margin: 2em 0;
      @include text;
    }

    &__tag {
      margin: 2em 0 4em 0;

      div {
        font-size: 3em;
        font-weight: 500;
        margin-bottom: 0.5em;
      }
      span {
        font-size: em;
        font-weight: 400;
      }
    }

    p {
      color: #5d6970;
      font-size: 0.8em;
      margin-bottom: 0.8em;
    }

    &__button {
      @include button($primary-color, white, $primary: false);
    }
  }

  &__background {
    width: 100%;
    height: inherit;
  }
}
